%h1 Dashboard

%div{:class => "container-fluid"}
    %div{:class => "row"}
        %div{:class => "col-md-2"}
            %h3#navigation Navigation
            %ol{:class => "nav nav-pills nav-stacked"}
                %li{:class => "text-left"}= link_to "Add Class", new_course_path
        %div{:class => "col-md-10"}
            /default is by date, can sort by priority or class name
            %h3#classes Week of #{@week}
            %table{:class => "table table-striped"}
                %tbody
                    - @classes.each do |course|
                        - assignments = Assignment.find(:all, :conditions =>{:course_id => course.id, :user_id => @current_user.id})
                        - if !assignments.blank?
                            -assignments.each do |assignment|
                                -if Date.parse(assignment.dueDate) <= @endWeek
                                    %tr
                                        %td.name.set.format #{course.name}
                                        %td.format #{assignment.name}
                                        %td.format Due on #{Date.parse(assignment.dueDate).strftime("%B %d, %Y")}
    %div{:class => "row"}
        %div{:class => "col-md-10 pull-right"}
            %h3 Classes
            %table{:class => "table table-striped"}
                %tbody
                    -if @classes.blank?
                        %tr
                            %td No classes added yet
                    -else
                        - @classes.each do |userClass|
                            %tr
                                -assignments = Assignment.find(:all, :conditions =>{:course_id => userClass.id, :user_id => @current_user.id}).size
                                %td= link_to "#{userClass.name}", course_path(userClass)

