%div{:class => "container-fluid"}
    %div{:class => "row"}
        %div{:class => "col-md-2"}
            %h3 Navigation
            %ol{:class => "nav nav-pills nav-stacked"}
                %li{:class => "text-left"}= link_to "Add Assignment", new_course_assignment_path(@id)
                %li{:class => "text-left"}=link_to "Edit Class", edit_course_path(@id)
                %li{:class => "text-left"}= link_to "Delete Class", course_path(@course), :method => :delete, :confirm => 'Are you sure?'
        %div{:class => "col-md-10"}
            %h3 Upcoming Deadlines for #{@course.name}
            %div#deadlines
    %div{:class => "row"}
        %div{:class => "col-md-10 pull-right"}
            %h3 All Assignments
            %table{:class => "table table-striped"}
                %tbody
                    -if @assignments.blank?
                        %tr
                            %td No assignments added yet
                    -else
                        - @assignments.each do |assignment|
                            %tr
                                %td= link_to "#{assginment.name}", course_path(userClass)
                                %td
                                    %button{:type => "submit", :class => "btn btn-default"} Delete