%div{:class => "container-fluid"}
    %div{:class => "row"}
        %div{:class => "col-md-2"}
            %h3 Navigation
            %ol{:class => "nav nav-pills nav-stacked"}
                %li{:class => "text-left"}= link_to "Add Assignment", new_course_assignment_path(@id)
                %li{:class => "text-left"}=link_to "Edit Class", edit_course_path(@id)
                %li{:class => "text-left"}= link_to "Delete Class", course_path(@course), :method => :delete, :confirm => 'Are you sure?'
        %div{:class => "col-md-10"}
            %h3 Upcoming Deadlines for #{@course.name}
            //section for this week, next week, later
            %div#deadlines
    %div{:class => "row"}
        %div{:class => "col-md-offset-2 col-md-10"}
            %h3 All Assignments
            %table{:class => "table table-striped"}
                %tbody
                    -if @assignments.blank?
                        %tr
                            %td No assignments added yet
                    -else
                        - @assignments.each do |assignment|
                            %tr
                                %td= link_to "#{assignment.name}", edit_course_assignment_path(:id => assignment.id, :course_id => params[:id])
                                %td #{assignment.description}
                                %td{:valign => "middle"}
                                    = button_to 'Edit', edit_course_assignment_path(:course_id => params[:id],:id => assignment.id ), :method => "get", :class => "btn btn-default"
                                %td
                                    = button_to 'Delete', course_assignment_path(params[:id],assignment.id), :method => :delete, :confirm => 'Are you sure?', :class => "btn btn-default"
